@import url(../fonts/tkachenkosketch4f/tkachenkosketch4f.css);
@import url(../fonts/zhizn/zhizn.css);

@import url(blocks/visually-hidden/visually-hidden.css);
@import url(blocks/header/header.css);
@import url(blocks/main-content/main-content.css);
@import url(blocks/inner-content/inner-content.css);
@import url(blocks/footer/footer.css);


/*common properties*/

/* * {
	outline: 1px dashed;
} */

body {
	min-width: 800px;
	margin: 0;
	padding: 0;

	font-family: 'Tkachenko Sketch 4F';
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;

	background-color: #222222;
	background-image: url("../img/chalkboard-background-2.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	cursor: url(../img/cursor-default.png), auto;
}

main {
	min-height: 84vh;
}

a {
	color: #cccccc;
	text-decoration: none;
	cursor: url(../img/cursor-button.png), pointer;
}

button {
	cursor: url(../img/cursor-button.png), pointer;
}

p, b, input, textarea {
	cursor: url(../img/cursor-text.png), text;
}

strong {
  position: relative;
}

strong::after {
	content: '';
	
  position: absolute;
  left: -0.5rem;
	right: -0.5rem;
  bottom: -0.6rem;
  z-index: -1;
	
	height: 0.9rem;
	
	background-image: url(../img/strong-underline.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

a > strong,
p > strong {
  font-weight: 400;
}

a > strong::after,
p > strong::after {
	left: -0.25rem;
	right: -0.25rem;
  bottom: -0.25rem;
	
  height: 0.5rem;
}
