
@import url(photo-block/photo-block.css);


.about-me__container {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

.about-me__section {
	display: flex;
	flex-direction: column;
}

.about-me__title {
	align-self: center;
	width: 55%;
	
	text-align: center;
}

.about-me__block {
	display: flex;
}

.about-me__info {
	max-width: 900px;
	min-width: 400px;
	margin: 45px 0;
	margin-right: auto;
	padding-right: 25px;
	
	font-family: 'Zhizn';
	font-size: 16px;
}

.about-me__author {
	display: block;
	padding: 10px 0;
	padding-right: 15%;

	text-align: right;
}
