@font-face {
	font-family: 'Zhizn';
	src:
		local('Zhizn'),
		url('../fonts/zhizn/zhizn.woff2') format('woff2'),
		url('../fonts/zhizn/zhizn.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}