
.modal__1, .modal__2, .modal__3, .modal__4, .modal__5, .modal__6,
.modal__7, .modal__8, .modal__9, .modal__10, .modal__11, .modal__12,
.modal__13, .modal__14, .modal__15, .modal__16, .modal__17, .modal__18,
.modal__19, .modal__20, .modal__21, .modal__22, .modal__23, .modal__24,
.modal__25, .modal__26, .modal__27, .modal__28, .modal__29, .modal__30, 
.modal__31, .modal__32, .modal__33, .modal__34, .modal__35, .modal__36, 
.modal__37, .modal__38, .modal__39, .modal__40, .modal__41, .modal__42,
.modal__43, .modal__44, .modal__45, .modal__46, .modal__47, .modal__48,
.modal__49, .modal__50, .modal__51, .modal__52, .modal__53, .modal__54, 
.modal__55, .modal__56, .modal__57, .modal__58, .modal__59, .modal__60, 
.modal__61, .modal__62, .modal__63, .modal__64, .modal__65, .modal__66,
.modal__67, .modal__68, .modal__69 {
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 2;

	display: none;
	width: 90%;
	height: 90%;

	color: #000000;
	
	background-color: #333333;
	border: 1px solid #bbbbbb;
	box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.25);
}

.modal__show {
	display: block;
}

.modal__photo-a {
	position: absolute;
	top: 45%;
	bottom: 50%;
	left: 0;
	right: 0;

	max-width: 75%;
	max-height: 85%;
	margin: auto;

	vertical-align: middle;
}

.modal__photo-b  {
	display: none;
}

.modal__photo-description {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;

	display: none;
	width: 50%;
	margin: 0 auto;	

	font-family: "Zhizn";
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.modal__button-close {
	position: absolute;
	top: 0;
	right: -33px;

	width: 30px;
	height: 30px;

	background-color: transparent;
	background-image: url(../../../../../img/cross.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
}

.modal__button-close:hover {
	background-size: 90%;
}

.modal__button-close:active {
	background-size: 70%;
	outline: none;
}

.modal__button-prev, 
.modal__button-next {
	position: absolute;
	top: 45%;

	width: 50px;
	height: 40px;

	font-size: 0;

	background-color: transparent;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
}

.modal__button-prev {
	left: 2%;
	background-image: url(../../../../../img/arrow-left.png);
}

.modal__button-next {
	right: 2%;
	background-image: url(../../../../../img/arrow-right.png);
}

.modal__button-prev:hover, 
.modal__button-next:hover {
	background-size: 90%;
}

.modal__button-prev:active, 
.modal__button-next:active {
	background-size: 70%;
	outline: none;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	display: none;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5)
}

.modal__overlay--show {
	display: block;
}
