head
	title=pageTitle
	|
	|
	meta(charset="utf-8")
	meta(content=author name="author")
	meta(content=description name="description")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="format-detection", content="telephone=no")
	|
	|
	link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
	link(rel='stylesheet', href='css/normalize.min.css')
	link(rel='stylesheet', href='css/style.min.css')