div.copyright
	b Designed with
	span.copyright__heart-place
	span.copyright__heart
	span.visually-hidden love
	|  by:
	a.copyright__developer(href='https://github.com/artysoule', target='_blank', rel='noopener')
		strong Arty Soule
