article.about-me
	h1.visually-hidden Selfpresentation
	section.about-me__section
		h2.about-me__title.title
			strong About Me
		div.about-me__block
			include photo-block/_photo-block
			blockquote.about-me__info
				p
					| I’m a High End, Beauty, Fashion, Editorial and Commercial <strong>Retoucher</strong> based in Moscow, working&nbsp;worldwide.
				p
					| The world of Photography, <strong>Photo&nbsp;Editing</strong> and Filmmaking opened for me when I was a child. It&nbsp;seems&nbsp;to&nbsp;me&nbsp;very&nbsp;exciting to create something new, beautiful&nbsp;and&nbsp;unique.
				p
					| I’m also wild about poetry, theatre, travel and <strong>coffee.</strong> I’m&nbsp;trying to turn all my feelings <strong>into&nbsp;art.</strong>
				p
					| I work closely with my clients. It’s a good skill to find something special in&nbsp;every&nbsp;shining&nbsp;soul.
				p
					| I believe that I can be happy every day of my life growing as an <strong>artist</strong> and doing things&nbsp;<strong>I&nbsp;love.</strong> I’m&nbsp;just&nbsp;putting <strong>my&nbsp;heart</strong> in all&nbsp;of&nbsp;this.
				p
					| It’s all about inspiration, self-creation and <strong>magic</strong> inside.
				p
					| If you’re interested in my services, please&nbsp;<strong>feel&nbsp;free</strong> to&nbsp;contact&nbsp;me.
				cite.about-me__author
					b ~ Ksenya Violet