block variables
	include ../lib/variables/_pug-variables

include ../lib/mixins/_pug-mixins

doctype html
html(lang=lang)
	|
	|
	block head
		include ../lib/blocks/a_head/_head
		|
		|
	body.body-grid
		block header
			include ../lib/blocks/b_header/_header
			|
			|
		block main
		|
		|
		block footer
			include ../lib/blocks/f_footer/_footer
			|
			|
		block modals
		|
		|
		block scripts
		|
		|