extends _template.pug

append variables
	//- head vars
	- pageTitle = "KEI VI ART:About me";
	- description = "Description";
	//- nav-menu vars
	- activeLink = 'about.html';

block main
	main
		div.container
			include ../lib/blocks/d_inner/about-me/_about-me