extends _template.pug

append variables
	//- head vars
	- pageTitle = "KEI VI ART:Contacts";
	- description = "Description";
	//- nav-menu vars
	- activeLink = 'contacts.html';

block main
	main
		div.container
			include ../lib/blocks/d_inner/contacts/_contacts

block scripts
	script(src='js/script.min.js')