extends _template.pug

append variables
	//- head vars
	- pageTitle = "KEI VI ART:Portfolio";
	- description = "Description";
	//- header vars
	- idName = "header";
	//- nav-menu vars
	- activeLink = 'gallery.html';

block main
	main.main
		h1.visually-hidden My Portfolio
		include ../lib/blocks/d_inner/gallery/_gallery

block modals
	include ../lib/blocks/g_modals/modal/_modal

block scripts
	script(src='js/script.min.js')