
.photo-block {
	display: flex;
	min-width: 500px;
	padding: 25px;
	margin-right: 25px;
}

.photo-block__major {
	width: 300px;
	height: 460px;
	margin-right: 50px;
}

.photo-block__photo-big {	
	box-sizing: border-box;
	display: block;
	width: 300px;
	height: 460px;

	border: 2px solid #cccccc;
	box-shadow: 10px 10px 50px #050505;
}

.photo-block__minor {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 150px;
	height: 460px;
	vertical-align: top;
}

.photo-block__photo-small {
	box-sizing: border-box;
	width: 150px;
	height: 200px;
	
	border: 2px solid #cccccc;
	box-shadow: 10px 10px 50px #050505;
}