mixin photo(number0, number000)
	li.photo
		a(class="photo__link photo__link--" + number0 href='')
			img(class="photo__img" src='img/portfolio/' + number000 + '-s' + '.jpg', alt='photo')

+photo("1", "001")
+photo("2", "002")
+photo("3", "003")
+photo("4", "004")
+photo("5", "005")
+photo("6", "006")
+photo("7", "007")
+photo("8", "008")
+photo("9", "009")
+photo("10", "010")
+photo("11", "011")
+photo("12", "012")
+photo("13", "013")
+photo("14", "014")
+photo("15", "015")
+photo("16", "016")
+photo("17", "017")
+photo("18", "018")
+photo("19", "019")
+photo("20", "020")
+photo("21", "021")
+photo("22", "022")
+photo("23", "023")
+photo("24", "024")
+photo("25", "025")
+photo("26", "026")
+photo("27", "027")
+photo("28", "028")
+photo("29", "029")
+photo("30", "030")
+photo("31", "031")
+photo("32", "032")
+photo("33", "033")
+photo("34", "034")
+photo("35", "035")
+photo("36", "036")
+photo("37", "037")
+photo("38", "038")
+photo("39", "039")
+photo("40", "040")
+photo("41", "041")
+photo("42", "042")
+photo("43", "043")
+photo("44", "044")
+photo("45", "045")
+photo("46", "046")
+photo("47", "047")
+photo("48", "048")
+photo("49", "049")
+photo("50", "050")
+photo("51", "051")
+photo("52", "052")
+photo("53", "053")
+photo("54", "054")
+photo("55", "055")
+photo("56", "056")
+photo("57", "057")
+photo("58", "058")
+photo("59", "059")
+photo("60", "060")
+photo("61", "061")
+photo("62", "062")
+photo("63", "063")
+photo("64", "064")
+photo("65", "065")
+photo("66", "066")
+photo("67", "067")
+photo("68", "068")
+photo("69", "069")