
@import url(photo/photo.css);
@import url(modal/modal.css);


.gallery {
	display: flex;
}

.gallery__main-container {
	min-width: 1200px;
	padding: 50px 0;
}

.gallery__title {
	margin-bottom: 50px;
	text-align: center;
}

.gallery__photos {
	position: relative;
	height: 4400px;
	
	list-style: none;
}

.gallery__button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	padding: 50px 0;
}

.gallery__up-button-place {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	width: 100%;
	height: 3000px;
}

.gallery__up-button {
	position: sticky;
	bottom: 100px;
	
	width: 70%;
	height: 200px;
	padding: 0 15%;
	
	opacity: 0;
	cursor: url(../../../../img/cursor-default.png), auto;
}

.gallery__up-button-box {
	position: absolute;
	bottom: 0;

	width: 30%;
	height: 40px;
	padding: 20px 10%;

	background-color: rgba(255, 255, 255, 0.04);
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
	background-image: url(../../../../img/arrow-up.png);
	background-position: center;
	background-repeat: no-repeat;
}

.gallery__up-button-box--left {
	right: 15%;
}

.gallery__up-button:hover {
	opacity: 1;
	transition: linear 0.5s;
}
