
.logo {
	font-size: 45px;
	margin-left: 30px;
	padding: 20px;
}

.logo--main {
	font-size: 45.3px;
	color: #eeeeee;

	text-shadow: 0px  0px 20px rgba(255, 255, 255, 0.4);
	cursor: url(../../../../img/cursor-default.png), auto;
}

.logo:hover,
.logo:focus {
	font-size: 45.3px;
	color: #eeeeee;

	text-shadow: 0px  0px 20px rgba(255, 255, 255, 0.4);
	outline: 0;
	transition: all linear 0.4s;
}
