ul.social
	li.social__item
		a.social__link(href='https://www.instagram.com/keivi.retoucher/', target='_blank', rel='noopener')
			span.visually-hidden Instagram
			i.fa.fa-instagram
	li.social__item
		a.social__link(href='https://www.facebook.com/ksenyaviolet', target='_blank', rel='noopener')
			span.visually-hidden Facebook
			i.fa.fa-facebook
	li.social__item
		a.social__link(href='https://vk.com/ksenyaviolet', target='_blank', rel='noopener')
			span.visually-hidden Vkontakte
			i.fa.fa-vk
	li.social__item
		a.social__link(href='https://www.behance.net/ksenyaviolet', target='_blank', rel='noopener')
			span.visually-hidden Behance
			i.fa.fa-behance
	li.social__item
		a.social__link(href='https://500px.com/ksenyaviolet', target='_blank', rel='noopener')
			span.visually-hidden 500 px
			i.fa.fa-500px
