section.gallery
	include up-button/_up-button--left
	div.gallery__main-container
		h2.gallery__title.title
			strong Gallery
		ul.gallery__photos
			include photo/_photo
	include up-button/_up-button--right
