mixin modal(number0, number000)
	div(class="modal__" + number0)
		img.modal__photo-a(src='img/portfolio/' + number000 + '-a' + '.jpg', alt='photo')
		img.modal__photo-b(src='img/portfolio/' + number000 + '-b' + '.jpg', alt='photo')
		p.modal__photo-description Photo Description
		button.modal__button-prev(type='button')
			span.visually-hidden Previous
		button.modal__button-next(type='button')
			span.visually-hidden Next
		button.modal__button-close(type='button')
			span.visually-hidden Close

//- mixin sliderPhoto(number000)
//- 	div 
//- 		img.slider__photo-a(src='img/portfolio/' + number000 + '-a' + '.jpg', alt='photo')
//- 		img.slider__photo-b(src='img/portfolio/' + number000 + '-b' + '.jpg', alt='photo')
//- 		p.slider__photo-description Photo Description

//- div.slider

+modal("1", "001")
+modal("2", "002")
+modal("3", "003")
+modal("4", "004")
+modal("5", "005")
+modal("6", "006")
+modal("7", "007")
+modal("8", "008")
+modal("9", "009")
+modal("10", "010")
+modal("11", "011")
+modal("12", "012")
+modal("13", "013")
+modal("14", "014")
+modal("15", "015")
+modal("16", "016")
+modal("17", "017")
+modal("18", "018")
+modal("19", "019")
+modal("20", "020")
+modal("21", "021")
+modal("22", "022")
+modal("23", "023")
+modal("24", "024")
+modal("25", "025")
+modal("26", "026")
+modal("27", "027")
+modal("28", "028")
+modal("29", "029")
+modal("30", "030")
+modal("31", "031")
+modal("32", "032")
+modal("33", "033")
+modal("34", "034")
+modal("35", "035")
+modal("36", "036")
+modal("37", "037")
+modal("38", "038")
+modal("39", "039")
+modal("40", "040")
+modal("41", "041")
+modal("42", "042")
+modal("43", "043")
+modal("44", "044")
+modal("45", "045")
+modal("46", "046")
+modal("47", "047")
+modal("48", "048")
+modal("49", "049")
+modal("50", "050")
+modal("51", "051")
+modal("52", "052")
+modal("53", "053")
+modal("54", "054")
+modal("55", "055")
+modal("56", "056")
+modal("57", "057")
+modal("58", "058")
+modal("59", "059")
+modal("60", "060")
+modal("61", "061")
+modal("62", "062")
+modal("63", "063")
+modal("64", "064")
+modal("65", "065")
+modal("66", "066")
+modal("67", "067")
+modal("68", "068")
+modal("69", "069")