
@import url(letter/letter.css);


.contacts-page__container {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 25px;
}

.contacts {
	display: inline-block;
	min-width: 400px;
	height: 440px;
	padding: 50px 50px;
}

.contacts__title {
	text-align: center;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	width: 400px;
	
	font-family: "Zhizn";
	font-size: 16px;
	list-style: none;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}

.contacts__item:last-child .contacts__link {
	cursor: url(../../../../img/cursor-text.png), text;
}

.contacts__icon {
	display: inline-block;
	width: 20px;
	padding: 20px;

	font-size: 25px;
	line-height: 25px;
	vertical-align: middle;
	color: #cccccc;
}

.contacts__link {
	display: inline-block;
	width: 330px;
	padding: 18px 0;
	
	cursor: url(../../../../img/cursor-pointer.png), pointer;
}

.contacts__link:hover,
.contacts__link:focus {
	font-size: 18px;
	color: #ffffff;
	text-shadow: 15px  15px 15px rgba(0, 0, 0, 1);

	outline: 0;
	transition: all linear 0.2s;
}
