section.letter
	h2.visually-hidden Letter form
	small.letter__tip Enter message (optional) and click button &quot;Send&quot;
	.letter__container
		form.letter__form(action='https://formspree.io/ksenyaviolet@yahoo.com', method='post')
			.letter__side
				h3.letter__title Contact me
				p.letter__area
					textarea.letter__textarea(name='text', placeholder='Your message')
			.letter__side
				p.letter__area
					label.visually-hidden(for='user-name') Your name
					input#user-name.letter__input(type='text', name='name', placeholder='Your name')
				p.letter__area
					label.visually-hidden(for='user-email') Your email
					input#user-email.letter__input(type='email', name='email', placeholder='Your email')
				button.letter__button(type='submit') Send
		.letter__envelope.letter__envelope--front
		.letter__envelope.letter__envelope--back
	p.letter__thanks Thank you for your message
