//- head vars
- let lang = "en";
- let pageTitle = "Заголовок страницы";
- let author = "Ksenya Violet";
- let description = "Описание страницы";
//- header vars
- let idName = null;
- let indexLogo = null;
- let indexLink = "index.html";
	//- nav-menu vars
- let activeLink = null;