section.contact-info
	h2.contact-info__title.title
		strong Contacts
	ul.contact-info__list
		li.contact-info__item
			i.contact-info__icon.fa.fa-envelope-o
			a.contact-info__link(href='mailto:ksenyaviolet@yahoo.com', target='_blank', rel='noopener')
				span ksenyaviolet@yahoo.com
		li.contact-info__item
			i.contact-info__icon.fa.fa-instagram
			a.contact-info__link(href='https://www.instagram.com/keivi.retoucher/', target='_blank', rel='noopener')
				span @keivi.retoucher
		li.contact-info__item
			i.contact-info__icon.fa.fa-facebook-square
			a.contact-info__link(href='https://www.facebook.com/ksenyaviolet', target='_blank', rel='noopener')
				span /ksenyaviolet
		li.contact-info__item
			i.contact-info__icon.fa.fa-vk
			a.contact-info__link(href='https://vk.com/ksenyaviolet', target='_blank', rel='noopener')
				span /ksenyaviolet
		li.contact-info__item
			i.contact-info__icon.fa.fa-behance
			a.contact-info__link(href='https://www.behance.net/ksenyaviolet', target='_blank', rel='noopener')
				span /ksenyaviolet
		li.contact-info__item
			i.contact-info__icon.fa.fa-phone
			a.contact-info__link
				span 8-910-302-0089
