
@import url(logo/logo.css);
@import url(nav-menu/nav-menu.css);


.header {
	min-width: 800px;
	min-height: 8vh;
}

.header__container {
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 25px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
