.photo-block
	.photo-block__major-block
		img.photo-block__photo-big(src='img/about-me/keivi-photo-2.jpg', width='296', height='456', alt='My personal photo')
	.photo-block__minor-block
		img.photo-block__photo-small(src='img/about-me/keivi-photo-3.jpg', width='146', height='196', alt='My personal photo')
		img.photo-block__photo-small(src='img/about-me/keivi-photo-4.jpg', width='146', height='196', alt='My personal photo')
